
.border-elipse{

    border-radius: 50%;
    height: 50%;
    background: rgba(186, 173, 241, 0.5);
    text-align: center;
}

.logo-login{
    width: 500px;
    height: 350px;

}
.form-login{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 300px;


}

.form-login input{
    width: 350px;
    height: 40px;
    background: #BAADF1;
    border-radius: 12px;
    border:none;
}

.form-login h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 75px;
    color: #a04bd2;
}

.form-login h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size:1.1rem;
    text-decoration-line: underline;
    color: rgba(186, 173, 241, 0.5);
    cursor: pointer;
    }


.form-login:hover h3{
    color: rgba(131, 129, 141, 0.5);
    cursor: pointer;
}
