.inquiryform-content{
    margin-left: 25%;
    margin-top: -8%;
    width: 50%;
    height: 50%;
}


.inquiryform-content th{
    border:3px solid #BAADF1
}

.inquiryform-content td{
    border:3px solid #BAADF1
}

.inquiryform-content input{
    border:hidden;
    background-color:#f9f9f9;
    
}