
  
  .btncadastro{
      box-sizing: border-box;
      position: relative;
      border:none;
      width: 170px;
      height: 50px;
      background: rgba(186, 173, 241, 0.5);
      color: #FEFFFE;
      cursor: pointer;
      }
  
      .btncadastro:hover{
          position: relative;
          border:none;
          width: 170px;
          height: 50px;
          background: rgba(154, 135, 241, 0.5);
          color:rgba(130, 108, 228, 0.5);
          font-weight: 900;    /* como se fosse a groçura da letra */
          cursor: pointer;
          }
  
      .forgotpassword{
          position: absolute;
          background: rgba(186, 173, 241, 0.5);
          border-radius: 15px;
          border: 6px solid #BAADF1;
          width: 800px;
          height: 300px;
          top: 200px;
          margin-left: 360px;
          background-color: #fefffec4;
      }
  
  
  
  .forgotpassword h1{
      width: 252px;
      height: 42px;
      left: 416px;
      top: 202px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
      
      color: #a623c0;
  
  }