
.content-nav{
display: flex;
 justify-content: space-between;
 align-items: center;
 background-color:rgba(154, 135, 241, 0.5);
}
#icons-header{
margin-right: 30px;
color: rgba(155, 28, 214, 0.558);
}

#icons-header:hover{
 
  color: rgba(51, 165, 231, 0.558);
  cursor: pointer;
  }
#user-id{
  
margin-left: 30px;
}

