
  .image-fundo{
      background: rgba(255, 255, 255, 0.1);
  width: 50%;
  height: 90%;
  margin-left:400px;
  backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);
  }
  
  .btn-login{
      box-sizing: border-box;
      position: relative;
      border:none;
      width: 170px;
      height: 40px;
      background: rgba(186, 173, 241, 0.5);
      color: #FEFFFE;
      cursor: pointer;
      }
  
      .btn-login:hover{
          position: relative;
          border:none;
          width: 170px;
          height: 40px;
          background: rgba(154, 135, 241, 0.5);
          color:rgba(130, 108, 228, 0.5);
          font-weight: 800;    /* como se fosse a groçura da letra */
          cursor: pointer;
          }
  
      .registerlogin{
          position: absolute;
          background: rgba(186, 173, 241, 0.5);
          border-radius: 30px;
          border: 6px solid #BAADF1;
          width: 50%;
          height: 60%;
          top: 20%;
          margin-left: 25%;
          background-color: #fefffec4;
      }

      .formaccepted{
          text-align: center;
          padding-top: 15%;

      }
      
  
  .register h1{
      width: 252px;
      height: 42px;
      left: 416px;
      top: 202px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
      
      color: #a623c0;
  
  }
 