.header-main{
    text-align: center;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    background: rgba(164, 154, 212, 0.5);
    margin-top:-16px;
}

.logo-header{
    width: 250px;
    height: 160px;
    margin-right: 1200px;
    margin-top: -113px;
}

.header-main ul{
    list-style: none;  /* tipo de marcardor da lista nessa caso nenhum*/
    text-transform: uppercase;  /* serve para transformar o texto nesse caso em letra maiuscula*/
    max-width: 500px;
    
    position: relative;    /* posicao absolute se refere ao site geral e a relativa apenas dentro do container menu*/
    top: 10px;       /* nesse caso movendo do topo para baixo ou cima*/
    left: 600px;           /*mover para esquerda o menu*/
    width: auto;
}

.header-main li{
    display: inline-block;  /* neste caso infileirando a lista do menu em linha */
   background-color:#dddddd;
   padding: 10px;  /* o padding determina o tamanho da borda */
   width: 85px;

   margin: 10px; /* o margin nesse caso vai determinar a distancia de um objeto para outro da lista */
   border-radius: 12px;
   transition: 2s;
   cursor: pointer;
}

.header-main li:hover { /* quando o mouse passa por cima de cada item da lista*/
    background-color: #606060;
    border-radius: 12px;
       
  }